<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build NLRescue code under ProfessionalServices/NLRescue/1.0</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Cancel:smaremanda</permission>
      <permission>hudson.model.Item.Cancel:mwijaya</permission>
      <permission>hudson.model.Item.Read:smaremanda</permission>
      <permission>hudson.model.Item.Read:mwijaya</permission>
      <permission>hudson.model.Item.Build:smaremanda</permission>
      <permission>hudson.model.Item.Build:mwijaya</permission>
      <permission>hudson.model.Item.Discover:smaremanda</permission>
      <permission>hudson.model.Item.Discover:mwijaya</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>15</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MACADDRESS</name>
          <description>MAC Address : format : 00-05-9A-3C-7A-00</description>
          <defaultValue>FF-FF-FF-FF-FF-FF</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.36">
    <configVersion>2</configVersion>
    <p4User>nxbuild</p4User>
    <p4Passwd>0f0kqlwaxhEd4Z67fGvDTRFHyxR8/A==</p4Passwd>
    <p4Port>nxt-p4s02.nextlabs.com:1666</p4Port>
    <p4Client>hudson_nb28_release_NLRescue</p4Client>
    <projectPath>//depot/ProfessionalServices/NLRescue/1.0/... //default/...</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <clientOwner></clientOwner>
    <p4SysDrive>C:</p4SysDrive>
    <p4SysRoot>C:\Windows</p4SysRoot>
    <p4Tool>P4-2010</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>true</exposeP4Passwd>
    <wipeBeforeBuild>true</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>false</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>unix</lineEndValue>
    <useViewMask>false</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export NLEXTERNALDIR=E:/P4/external
export NLEXTERNALDIR2=E:/P4/main_external
export NLPROFSERVDIR=E:/P4/ProServ_buildCommon

export JAVA_HOME=${NLEXTERNALDIR2}/j2sdk/jdk1.7.0_71

echo &quot;MACADDRESS: ${MACADDRESS}&quot;

cd ${WORKSPACE}
source ./setEnv

# Write the MAC Address string to the EmbeddedMacAddress.txt file
# under \\nextlabs.com\share\data\build\support\NLRescue
echo &quot;${MACADDRESS}&quot; &gt; S:/build/support/NLRescue/EmbeddedMacAddress.txt

##
# Display contents of S:/build/support/NLRescue/EmbeddedMacAddress.txt
##
echo
echo &quot;################################################################################&quot;
echo &quot;## Contents of S:/build/support/NLRescue/EmbeddedMacAddress.txt ...&quot;
echo &quot;################################################################################&quot;
cat S:/build/support/NLRescue/EmbeddedMacAddress.txt
echo

./buildSupport

## EOF ##
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.perforce.PerforceTagNotifier plugin="perforce@1.3.36">
      <rawLabelName>${BUILD_TAG}_nb28</rawLabelName>
      <rawLabelOwner></rawLabelOwner>
      <rawLabelDesc></rawLabelDesc>
      <onlyOnSuccess>true</onlyOnSuccess>
    </hudson.plugins.perforce.PerforceTagNotifier>
    <hudson.tasks.Mailer plugin="mailer@1.19">
      <recipients>hudson-build@nextlabs.com Alan.Morgan@nextlabs.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>