<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Raymond (Chunlin) Zeng</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwosaUC8u4ZkWEEWYmkLW+l8KP2XJEHRf9fTrBztqh8XiSI75kdAHUSPx8SBapg8JdZV+5q/P3fFVK8SHgLL0cqg==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.13">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.plugins.perforce.PerforceUserProperty plugin="perforce@1.3.36"/>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>devops@nextlabs.com</string>
        <string>ReportingGroup {bdf681c4-4a43-4809-839e-2fdb996dc739}</string>
        <string>cdcdev.msdn@nextlabs.com</string>
        <string>hudson-release</string>
        <string>CDC VMPOWER Manager</string>
        <string>CDC SharePoint Designer</string>
        <string>CDC VMHOST Admins</string>
        <string>CDC Manager</string>
        <string>CDC Build Group</string>
        <string>CDC Qatd</string>
        <string>CDC Leader</string>
        <string>CDC Engineering</string>
        <string>CDC All</string>
        <string>Release</string>
        <string>authenticated</string>
      </roles>
      <timestamp>1495590930525</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20">
      <emailAddress>Raymond.Zeng@nextlabs.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>