<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Saroja Maremanda</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw9OHQfZmJ1sExjRsEUj8CHnffMzVK0RZF/clNxbnrjj2iM9b3fr6Y4fOs2036hQgxx/OoLGcafmPFaNBQzai/8A==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.12">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@1.1.1">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.plugins.perforce.PerforceUserProperty plugin="perforce@1.3.36"/>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>license_ops</string>
        <string>alpo</string>
        <string>PWA</string>
        <string>sap-oss@nextlabs.com</string>
        <string>Release</string>
        <string>vpn</string>
        <string>sanmateo</string>
        <string>Professional Services</string>
        <string>support_queue</string>
        <string>enterprise-techsupport</string>
        <string>authenticated</string>
      </roles>
      <timestamp>1489530550044</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.19">
      <emailAddress>Saroja.Maremanda@nextlabs.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>