<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Release build of PCOE Combined Installer 8.1&#xd;
        - builds code from //depot/Fate/release/main1602_8.1</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>30</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.36">
    <configVersion>2</configVersion>
    <p4User>nxbuild</p4User>
    <p4Passwd>0f0kqlwaxhEd4Z67fGvDTRFHyxR8/A==</p4Passwd>
    <p4Port>nxt-p4s02.nextlabs.com:1666</p4Port>
    <p4Client>jenkins_nb28_release_PCOE_endpoint_main1602_8.1</p4Client>
    <projectPath>//depot/Fate/release/main1602_8.1/... //default/...</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <p4SysDrive>C:\</p4SysDrive>
    <p4SysRoot>C:\Windows</p4SysRoot>
    <p4Tool>P4-2010</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>false</wipeBeforeBuild>
    <quickCleanBeforeBuild>true</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>true</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>false</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>unix</lineEndValue>
    <useViewMask>false</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export NLEXTERNALDIR=E:/P4/external
export NLEXTERNALDIR2=E:/P4/main_external
export JAVA_HOME=${NLEXTERNALDIR2}/j2sdk/jdk1.7.0_71

export PUBLISH_TO_BODA=1

# cd ${WORKSPACE}/
# source ./setEnv
# ./buildRelease

# #####################
# cd C:/source/pcvbuild
# tar cf - . | ( cd ${WORKSPACE}/ ; tar xf - )
# cd ${WORKSPACE}/
# rm -f bin/installer/*
# ../modbuildPcv
# source ./build.config
# cd install/pcoe ; rm -rf build installer
# make OFFICIALCERT=0 BUILDTYPE=release VERSION_BUILD=${BUILD_NUMBER}
# cd ${WORKSPACE}/
# make -f build/Makefile.publish TYPE=release pcoe
# #####################
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.perforce.PerforceTagNotifier plugin="perforce@1.3.36">
      <rawLabelName>${BUILD_TAG}_nb28</rawLabelName>
      <rawLabelOwner></rawLabelOwner>
      <rawLabelDesc></rawLabelDesc>
      <onlyOnSuccess>true</onlyOnSuccess>
    </hudson.plugins.perforce.PerforceTagNotifier>
    <hudson.tasks.Mailer plugin="mailer@1.17">
      <recipients>hudson-build@nextlabs.com Tonny.He@nextlabs.com Raymond.Zeng@nextlabs.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>